.card {
  border: 3px ;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card .title {
  padding: 5px 0;
  color: #000;
  font-weight: 700;
}

.card .content {
  color: #000;
  background-color: #fff;
  flex: 1;
}

.card .footer {
  color: #fff;
  padding: 5px 0;
  background-color: #000;
}